
@model Vidly.ViewModels.MovieFormViewModel 

@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model == null)
{
  <h2>Add Movie</h2>
}
  else
{
    <h2>Edit</h2>
}


@using (Html.BeginForm("Save", "Movie"))
{

   <div class="form-group">
        @Html.LabelFor(n => n.Name)
        @Html.TextBoxFor(n => n.Name, new {@class = "form-control"})
        @Html.ValidationMessageFor(n => n.Name)
   </div> 

   <div class="form-group">    
          @Html.LabelFor(r => r.ReleaseDate)
          @Html.TextBoxFor(r => r.ReleaseDate, "{0:d MMM yyyy}", new { @class = "form-control" })
          @Html.ValidationMessageFor(r => r.ReleaseDate)
   </div>    

   <div class="form-group">
       @Html.LabelFor(m => m.GenreId)
       @Html.DropDownListFor(m => m.GenreId, new SelectList(Model.Genres, "Id", "Genres"), "Select Genre", new { @class = "form-control" })
       @Html.ValidationMessageFor(m => m.GenreId)
   </div>   

   <div class="form-group">
       @Html.LabelFor(k => k.NumberInStock)
       @Html.TextBoxFor(k => k.NumberInStock, new { @class = "form-control" })
       @Html.ValidationMessageFor(k => k.NumberInStock)
   </div>

   @Html.HiddenFor(m => m.Id)
   @Html.AntiForgeryToken()
   <button type="submit" class="btn btn-primary">Save</button>
  
}


@section scripts{

  @Scripts.Render("~/bundles/jqueryval")

}